@import 'constant/style.less';
.paginationTable-container{
    thead{
        th{
            background-color: #fff;
        }
    }
    .ant-table-row{
        &:hover{
            td{
                background-color: #d0fbe1!important;
            }
        }
    }
    .ant-table-cell:first-child{
        padding-left: 30px!important;
    }
    .ant-table-body{
        &::-webkit-scrollbar{
            background-color: @white-color;
            width: 8px;

        }
        &::-webkit-scrollbar-thumb{
            background-color:@theme-color;
            border-radius: 10px;
        }
        &::-webkit-scrollbar-button{
            display: none;
        }
        
    }
}